@page "/"

<h1 style="text-align: center; color: white; height: 65px" class="full-width mt-2 col-md-12 mb-1 pt-2">Registro y Seguimiento de Vacunas</h1>

<img class="centro1"
src="./img/Fondo.png"
alt="La imagen no carga" width="70%" height="100%">



