@page "/Acerca de"
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarea 1 </title>
    <link rel="stylesheet" href="Css/Diseño.css"/>
    
</head>
<body>

  <header>
    <h1>Información Personal</h1>
    <p>Aqui podran encontrar la información Personal y podran
      observar el esfuerzo por elaborar una buen trabajo en equipo.
    </p>
  </header>

  <div class="separador1"></div>
  
<img class="centro"
src="img/foto11.jpeg"
alt="La imagen no carga">

 
    
<div class="separador2"></div>

<table>
  <tr> 
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Teléfono</th>
  </tr>
  <tr>
    <td>Brian Dariel</td>
    <td>Lorenzo Lorenzo</td>
    <td>829-603-9560</td>
  </tr>
  <tr>
    <th>Dirección</th>
    <th>Correo Electrónico</th>
    <th>Hobbies</th>
  </tr>
  <tr>
    <td>Santo Domingo Este, Villa liberacion</td>
    <td>20198375@itla.edu.do</td>
    <td>Escuchar Musica</td>
  </tr>
  
  
</table>
<div class="separador2"></div>

<img class="centro"
src="img/foto2.jpg"
alt="La imagen no carga">

<div class="separador2"></div>

<table>
  <tr> 
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Teléfono</th>
  </tr>
  <tr>
    <td>Kelvin Ariel</td>
    <td>Hernández González</td>
    <td>829-870-7727</td>
  </tr>
  <tr>
    <th>Dirección</th>
    <th>Correo Electrónico</th>
    <th>Hobbies</th>
  </tr>
  <tr>
    <td>Santo Domingo Este,Av. España #72</td>
    <td>20198680@itla.edu.do</td>
    <td>Leer</td>
  </tr>
  
  
</table>

<div class="separador3"></div>

<footer class="footer">
  <p>Espero y le alla gustado!!
    </p>
  </footer>
  <br>
  <div class="outer-footer">
      Copyright &copy; Brian Dariel Lorenzo, Kelvin Ariel.All Rights Reserved
  </div>
  

</body>
</html>