@page "/tipovac"
<h1 style=" text-align: center; color: white; height: 65px" class="mt-2 pt-2 mb-4">Total de vacunas aplicadas por tipo de vacuna</h1>
<head> <link href="_content/DonutChart/styles.css" rel="stylesheet" /> </head>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Vacuna</th>
            <th>Personas vacunadas</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vacu in GetVacunados)
        {
            <tr>
                <td>@vacu.TipoVac</td>
                <td>@vacu.Cantidad</td>
            </tr>
        }
    </tbody>
</table>


    <div class="row">
        <div class="alert alert-primary p-1 border-dark" style="width: 100%">
            <RadzenChart>
                <RadzenBarSeries Data="@GetVacunados" CategoryProperty="TipoVac" Title="Vacunas aplicadas" LineType="LineType.Dashed" ValueProperty="Cantidad" />
                <RadzenBarOptions Radius="15" />
                <RadzenValueAxis Min="0" Step="1" />
            </RadzenChart>
        </div>
    </div>





@code{
    List<DataTipoDeVacuna> GetVacunados=
    (
        from p in new VacunateRDContext().Vacunados
        group p by p.TipoVacuna into g
        select new DataTipoDeVacuna
        {
            TipoVac = g.Key,
            Cantidad = g.Count()
        }
    ).ToList();

}