@page "/Registrar"

<input style="width: 50%;" type="text" class="form-control" @bind-value="prueba" placeholder="ID">
<input style="width: 50%;" type="text" class="form-control" @bind-value="prueba" placeholder="ID">
<input style="width: 50%;" type="text" class="form-control" @bind-value="prueba" placeholder="ID">
<input style="width: 50%;" type="text" class="form-control" @bind-value="prueba" placeholder="ID">
<input style="width: 50%;" type="text" class="form-control" @bind-value="prueba" placeholder="ID">
<input style="width: 50%;" type="text" class="form-control" @bind-value="prueba" placeholder="ID">

<EditForm Model ="GetProvincias">
<InputSelect id= "GetProvincias"class="form-group" @bind-Value="id">
@foreach (Provincia prov in GetProvincias)
    {
        <option value ="@prov.id">@prov.Nombre</option>
    }
</InputSelect>
</EditForm>

@code {
    List<Provincia> GetProvincias = new VacunateRDContext().Provincias.ToList();
    public string id="0";
    public string prueba;
      public class Games
        {  
public string ID { get; set; }
public string Text { get; set; }
         }
  List<Games> LocalData = new List<Games> {
new Games() { ID= "Game1", Text= "American Football" },
new Games() { ID= "Game2", Text= "Badminton" },
new Games() { ID= "Game3", Text= "Basketball" },
new Games() { ID= "Game4", Text= "Cricket" },
new Games() { ID= "Game5", Text= "Football" },
new Games() { ID= "Game6", Text= "Golf" },
new Games() { ID= "Game7", Text= "Hockey" },
new Games() { ID= "Game8", Text= "Rugby"},
new Games() { ID= "Game9", Text= "Snooker" },
new Games() { ID= "Game10", Text= "Tennis"},
  };
}
