@page "/Registrar"

<div class="container">
    <h1 style="text-align: center; color: white; height: 65px" class="mt-2 col-md-12 pt-2 mb-4">Registrar vacunas</h1>
    <div id="pa" class="row ml-auto">
        <input style="width: 20%; text-align: left;" type="text" class="form-control" @bind-value="cedula" placeholder="Digite una cédula">
        <br>
        <button class="btn btn-dark mb-3 ml-2" @onclick="BuscarData">Buscar Datos</button>
        <br> <br>
    </div>
    <hr style="background-color: white" class="mt-2" />
</div>

@if (cedula != ""){
  if(Existe == true){
<p>Id</p>
<input style="width: 50%;" type="text" class="form-control" @bind-value="prueba" placeholder="ID">
<p>Cedula</p>
<input style="width: 50%;" type="text" class="form-control" @bind-value="prueba" placeholder="ID">
<p>Nombre</p>
<input style="width: 50%;" type="text" class="form-control" @bind-value="prueba" placeholder="ID">
<p>Apellido</p>
<input style="width: 50%;" type="text" class="form-control" @bind-value="prueba" placeholder="ID">
<p>Telefono</p>
<input style="width: 50%;" type="text" class="form-control" @bind-value="prueba" placeholder="ID">
<p>Signo_Zodiacal</p>
<input style="width: 50%;" type="text" class="form-control" @bind-value="prueba" placeholder="ID">

<p>Provincia</p>
<EditForm Model ="GetProvincias">
<InputSelect id= "GetProvincias"class="form-group" @bind-Value="id">
@foreach (Provincia prov in GetProvincias)
    {
        <option value ="@prov.id">@prov.Nombre</option>
    }
</InputSelect>
</EditForm>
<p>Tipo de vacuna</p>
<EditForm Model ="GetVacuna">
<InputSelect id= "GetVacuna"class="form-group" @bind-Value="id">
@foreach (Vacuna vac in GetVacuna)
    {
        <option value ="@vac.id">@vac.Nombre</option>
    }
</InputSelect>
</EditForm>
  }
}
@code {
  string cedula;
  bool Existe;
  void BuscarData(){Existe = true;}
    List<Provincia> GetProvincias = new VacunateRDContext().Provincias.ToList();
     List<Vacuna> GetVacuna = new VacunateRDContext().Vacunas.ToList();
    public string id="0";
    public string prueba;
      public class Games
        {  
public string ID { get; set; }
public string Text { get; set; }
         }
  List<Games> LocalData = new List<Games> {
new Games() { ID= "Game1", Text= "American Football" },
new Games() { ID= "Game2", Text= "Badminton" },
new Games() { ID= "Game3", Text= "Basketball" },
new Games() { ID= "Game4", Text= "Cricket" },
new Games() { ID= "Game5", Text= "Football" },
new Games() { ID= "Game6", Text= "Golf" },
new Games() { ID= "Game7", Text= "Hockey" },
new Games() { ID= "Game8", Text= "Rugby"},
new Games() { ID= "Game9", Text= "Snooker" },
new Games() { ID= "Game10", Text= "Tennis"},
  };
}
