@inherits LayoutComponentBase


<style>
    #bg {
        background-image: linear-gradient(180deg, rgb(103, 5, 5) 0%, #0b3358 70%);
    }

    * {
        color: white;
    }
</style>

<div class="sidebar">
    <NavMenu />
</div>

<div id="bg" class="main">
    <div class="top-row px-4">
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
