<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Vacunate RD</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Registrar">
                <span class="oi oi-list" aria-hidden="true"></span> Registrar vacuna
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="consulta_vacunados">
                <span class="oi oi-cloud" aria-hidden="true"></span> Consulta de Vacunados
            </NavLink>
        </li>
                  <li class="nav-item px-3">
            <NavLink class="nav-link" href="tipovac">
                <span class="oi oi-info" aria-hidden="true"></span> Vacunados por tipo de vacuna
            </NavLink>
        </li>
         <li class="nav-item px-3">
            <NavLink class="nav-link" href="zodiaco">
                <span class="oi oi-puzzle-piece" aria-hidden="true"></span> Signo Zodiacal
            </NavLink>
        </li>
         <li class="nav-item px-3">
            <NavLink class="nav-link" href="eliminar">
                <span class="oi oi-delete" aria-hidden="true"></span> Anular registro
            </NavLink>
        </li>
         <li class="nav-item px-3">
            <NavLink class="nav-link" href="" @onclick="()=>ExpancionMenu= !ExpancionMenu">
                <span class="oi oi-cog" aria-hidden="true"></span> Configuracion
            </NavLink>
            @if (ExpancionMenu)
            {
                 <NavLink class="Expancion-Menu" href="provi">
                     <span class="oi oi-map-marker" aria-hidden="true"></span>Provincia
                 </NavLink>
                 <NavLink class="Expancion-Menu" href="vacun">
                     <span class="oi oi-plus" aria-hidden="true"></span>Vacuna
                 </NavLink>
            }
        </li>
          <li class="nav-item px-3">
            <NavLink class="nav-link" href="Acerca de">
                <span class="oi oi-info" aria-hidden="true"></span> Acerca de
            </NavLink>
        </li>
                 <li class="nav-item px-3">
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool  ExpancionMenu;


    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
