<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Vacunate RD</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Acerca de">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Acerca de
            </NavLink>
        </li>

         <li class="nav-item px-3">
            <NavLink class="nav-link" href="" @onclick="()=>ExpancionMenu= !ExpancionMenu">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Configuracion
            </NavLink>
            @if (ExpancionMenu)
            {
                 <NavLink class="Expancion-Menu" href="provi">
                     <img src="./img/provincia.png" alt="Alternate Text" width="30" height="30" style="margin-right: 10px;" />Provincia
                 </NavLink>
                 <NavLink class="Expancion-Menu" href="vacun">
                     <img src="./img/vacu.png" alt="Alternate Text" width="30" height="30" style="margin-right: 10px;" /> Vacuna
                 </NavLink>
            }
        </li>

                <li class="nav-item px-3">
            <NavLink class="nav-link" href="Registrar">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Registrar vacuna
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool  ExpancionMenu;


    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
